<p>Found the following IndieWeb endpoints for <a href="<%= params[:url] %>"><%= params[:url] %></a>:</p>

<table>
  <caption>Table of IndieWeb endpoints for <a href="<%= params[:url] %>"><%= params[:url] %></a>.</caption>
  <tbody>
    <% endpoints.each do |name, value| %>
      <tr>
        <th scope="row"><%= name %></th>
        <td><%= value || 'nil' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
